<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poldichen.movie.dao.IActorDao">

    <select id="getAll" resultType="com.poldichen.movie.entity.Actor">
        SELECT * FROM actor
    </select>


    <resultMap type="com.poldichen.movie.entity.Movie" id="movieMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <collection property="videos" ofType="com.poldichen.movie.entity.Video">
            <id property="id" column="video_id"/>
            <result property="name" column="video_name"/>
        </collection>
    </resultMap>

    <select id="getById" resultType="com.poldichen.movie.entity.Actor">
        SELECT * from actor where id = #{id}
    </select>

    <insert id="createOne" parameterType="com.poldichen.movie.entity.Actor" useGeneratedKeys="true" keyProperty="actor.id">
        insert into actor (name, birth_date, nationality)
        values (#{actor.name}, #{actor.birthDate}, #{actor.nationality})
    </insert>




</mapper>