<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poldichen.movie.dao.IMovieDao">

    <select id="getAll" resultType="com.poldichen.movie.entity.Movie">
        SELECT * FROM movie
    </select>

    <select id="getByName" resultType="com.poldichen.movie.entity.Movie">
        SELECT * FROM movie where name = #{movieName}
    </select>


    <resultMap type="com.poldichen.movie.entity.Movie" id="movieMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <collection property="videos" ofType="com.poldichen.movie.entity.Video">
            <id property="id" column="video_id"/>
            <result property="name" column="video_name"/>
        </collection>
    </resultMap>

    <select id="getById" resultMap="movieMap">
        SELECT m.id, m.name, v.id as video_id, v.name as video_name
        FROM movie m left join movie_video mv on m.id = mv.movie_id
        left join video v on mv.video_id = v.id
        where m.id = #{id}
    </select>

    <insert id="createOne" parameterType="com.poldichen.movie.entity.Movie" useGeneratedKeys="true" keyProperty="movie.id">
        insert into movie (name, publish_date)
        values (#{movie.name}, #{movie.publishDate})
    </insert>

    <insert id="addMovieActor" parameterType="int" useGeneratedKeys="true" keyProperty="movie.id">
        insert into movie_actor (movie_id, actor_id)
        values (#{movie_id}, #{actor_id})
    </insert>




</mapper>