<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poldichen.movie.dao.IPictureDao">

    <insert id="createOne" parameterType="com.poldichen.movie.entity.Picture" useGeneratedKeys="true" keyProperty="picture.id" keyColumn="id">
        insert into picture (path, file_name, url, extension, size, create_at, update_at)
        values (#{picture.path}, #{picture.fileName}, #{picture.url}, #{picture.extension}, #{picture.size}, NOW(), NOW())
    </insert>

    <update id="update">
        update picture
        set path = #{picture.path}, file_name = #{picture.fileName}, url = #{picture.url},
        extension = #{picture.extension}, size = #{picture.size}, update_at = NOW()
        where id = #{id}
    </update>

    <select id="getAll" resultType="com.poldichen.movie.entity.Picture" parameterType="java.lang.String">
        select * from picture
        where 1 = 1
        <if test="file_name != null and file_name != '' "> and file_name like concat('%', #{file_name}, '%')</if>
    </select>


</mapper>